{% load bootstrap3 %}
{% load static %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="navbar navbar-dark bg-primary">
    <div class="container-fluid"></div>
    <a class="navbar-brand" href="{% url 'home' %}">Dagram</a>
      <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
						<ul class="navbar-nav mt-2 mt-md-0">
							<li class="nav-item active">
								<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Profile</a>


						</ul>
					</div>
				</div>
			</nav>
  </div>
</nav>
</body>
</html>