{% extends 'all_gram/base.html' %}
{% load bootstrap3 %]
{% load static %}
{% block content %}
{{ block.super}}

<div class="row">
    <a href = "{% url 'new_post' %}"><button class="btn btn-primary">New Post</button></a>
</div>
<div class="row">
  {% for post in posts %}
  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Modal: Name-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="{{ post.image.url }}"
                allowfullscreen></iframe>
              <h4>Caption:</h4><p> {{ post.caption }}</p>

            </div>

            <div class="col-md-6 col-md-offset-2 col-sm-12">
              <div class="comment-wrapper">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      Comment panel
                  </div>
                  <div class="panel-body">

                      <button type="button" class="btn btn-info pull-right">New Comment</button>
                      <div class="clearfix"></div>
                      <hr>
<!--                      {% for comment in comments %}-->
<!--                      <ul class="media-list">-->
<!--                          <li class="media">-->
<!--                              <a href="#" class="pull-left">-->
<!--                                  <img src= alt="" class="img-circle">-->
<!--                              </a>-->
<!--                              <div class="media-body">-->

<!--                                  <strong class="text-success">{{comment.user.username}}</strong>-->
<!--                                  <p>-->
<!--                                      {{comment.comment_content}}-->
<!--                                  </p>-->
<!--                              </div>-->
<!--                          </li>-->
<!--                        <ul>-->
<!--                          {%endfor%}-->

          </div>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!--Modal: Name-->

    <a><img class="img-fluid z-depth-1" src={{post.image.url}} alt="video"
        data-toggle="modal" ></a>
  {% endfor %}
  </div>
{% endblock %}
